// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-map {
	margin:30px, 0px, 30px,0px;
}

.p {
	margin:40;
}

.link {
	color: black;
}

.link:hover {
	color:grey;
	text-decoration:none;
}

.page_image {
/*position:absolute;*/
width:100%;
/*clip:rect( );*/

}

.navbar-sticky-bottom {
	background-color: white;
	margin-top: 20px;
}

.jumbotron {
	background-image: url("strawbs.jpg");
	background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
	margin:0;
	width:100%;
	height:700px;
	padding:0;
}

