// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-map {
	margin:30px, 0px, 30px,0px;
}

.p {
	margin:40;
}

.link {
	color: black;
}

.link:hover {
	color: grey;
	text-decoration:none;
}